<?xml version="1.0" ?>

<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <services>

        <service id="fansible_devops.config.database" class="Fansible\DevopsBundle\Config\DatabaseConfig">
            <argument type="service" id="fansible_devops.helper.service" />
            <argument>%fansible_devops.data.database.driver%</argument>
            <argument>%fansible_devops.data.database.name%</argument>
            <argument>%fansible_devops.data.database.user%</argument>
            <argument>%fansible_devops.data.database.password%</argument>
        </service>

        <service id="fansible_devops.config.webserver" class="Fansible\DevopsBundle\Config\WebServerConfig">
            <argument type="service" id="fansible_devops.helper.service" />
            <argument>%fansible_devops.data.webserver.type%</argument>
            <argument>%fansible_devops.data.webserver.hostname%</argument>
        </service>

        <service id="fansible_devops.config.ansible" class="Fansible\DevopsBundle\Config\AnsibleConfig">
            <argument type="service" id="fansible_devops.helper.service" />
            <argument type="service" id="fansible_devops.config.database" />
        </service>

        <service id="fansible_devops.config.vagrant" class="Fansible\DevopsBundle\Config\VagrantConfig">
            <argument>%fansible_devops.data.vagrant.project_name%</argument>
            <argument>%fansible_devops.data.vagrant.box%</argument>
            <argument>%fansible_devops.data.vagrant.ip%</argument>
            <argument>%fansible_devops.data.vagrant.memory%</argument>
            <argument>%fansible_devops.data.vagrant.cpus%</argument>
            <argument>%fansible_devops.data.vagrant.exec%</argument>
            <argument>%fansible_devops.data.vagrant.src%</argument>
            <argument>%fansible_devops.data.vagrant.dest%</argument>
            <argument>%fansible_devops.data.vagrant.hostfile%</argument>
        </service>

    </services>

</container>
