<?xml version="1.0" ?>

<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <services>

        <service id="fansible_devops.config.services" class="Fansible\DevopsBundle\Config\ServicesConfig">
            <argument>%fansible_devops.data.provisioning%</argument>
            <argument type="service" id="fansible_devops.finder.container" />
        </service>

        <service id="fansible_devops.config.webserver" class="Fansible\DevopsBundle\Config\WebServerConfig">
            <argument type="service" id="fansible_devops.config.services" />
            <argument>%fansible_devops.data.webserver%</argument>
        </service>

        <service id="fansible_devops.config.database" class="Fansible\DevopsBundle\Config\DatabaseConfig">
            <argument type="service" id="fansible_devops.config.services" />
            <argument>%fansible_devops.data.database%</argument>
        </service>

        <service id="fansible_devops.config.environments" class="Fansible\DevopsBundle\Config\EnvironmentsConfig">
            <argument>%fansible_devops.data.environments%</argument>
        </service>

        <service id="fansible_devops.config.ansible_roles" class="Fansible\DevopsBundle\Config\AnsibleRolesConfig">
            <argument>%fansible_devops.data.ansible_roles%</argument>
        </service>

        <service id="fansible_devops.config.vagrant" class="Fansible\DevopsBundle\Config\VagrantConfig">
            <argument>%fansible_devops.data.name%</argument>
            <argument>%fansible_devops.data.vagrant%</argument>
        </service>

    </services>

</container>
